#group-page {

    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
    }

    h3 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
    }
}