#filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    p {
        font-family: "Gotham Book";
        color: white;
        font-size: 18px;
        padding-left: 0.5em;
    }

    #detail-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

}


