@import "./variables";

#gray-input {
    background-color: #3f3f3f;
    border: none;
    padding: 1.5em;
    ::placeholder {
        color: white;
    }
}

h4 {
    font-family: "Gotham Bold";
    font-size: 36px;
    color: white;
}

h5 {
    color: white;
    padding: 0.5em;
    font-size: 24px;
}

#button-sign-in {
    padding: 1em;
}

#button-sign-in-red {
    background-color: #E50914;
    border: none;
    padding: 1em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-brand {
    margin: 6em 0 2em;
    width: 20em;
    height: auto;
}

p {
    font-family: "Gotham Book";
    color: white;
    font-size: 24px;

    a {
        font-family: "Gotham Bold";
        color: white;
    }
}

.space-1 {
    margin: 1em 0;
}
.space-2 {
    margin: 2em 0;
}