#navbar-container{

a {
    font-family: "Gotham Book";
    color: white;
    font-size: 28px;
}

#prof-pic{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

#nav-brand{
    width: 8em;
    height: auto;
}

#nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

}