#navbar-container{

a {
    font-family: "Gotham Book";
    color: white;
    font-size: 28px;
}

#prof-pic{
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

#nav-brand{
    width: 8em;
    height: auto;
}

}