#user-pic {
    width: 4em;
    height: 4em;
    object-fit: cover;
    object-position: center right;
}

h2 {
    font-family: "Gotham Book";
    color: white;
}


.user-card{
    display: flex;
    flex-direction: row;
    
}