#card-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-size: 32px;
        }
    }
    
    h6 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
    }

    a {
        font-family: "Gotham Book";
        color: white;
    }

    #media-img {
        width: auto;
        height: 75vh;
        @media only screen and (max-width: 576px) {
            width: auto;
            height: 60vh;
        }

    }
    
    #media-img-detail {
        width: auto;
        height: 75vh;
        object-fit: cover;
        object-position: center right;
        opacity: 10%;
        @media only screen and (max-width: 576px) {
            width: auto;
            height: 60vh;
        }
        
    }
    p {
        font-family: "Gotham Book";
        color: white;
        font-size: 24px;
        @media only screen and (max-width: 576px) {
            font-size: 20px;
        }
    }

    #outline-button{
        background-color: rgba($color: #000000, $alpha: 0);
        border: white 5px solid;
        font-family: "Gotham Bold";
        color: white;
        font-size: 24px;
        border-radius: 8px;
    }
    
    #white-fill-button{
        background-color: rgba($color: #ffffff, $alpha: 1);
        border: white;
        font-family: "Gotham Bold";
        color: rgb(0, 0, 0);
        font-size: 28px;
        border-radius: 8px;
        padding: 0.2em 0.7em;
    }
    
    #yellow-fill-button{
        background-color: #F5C518;
        border:#F5DE50;
        font-family: "Impact";
        color: rgb(0, 0, 0);
        font-size: 28px;
        border-radius: 8px;
        padding: 0.2em 0.7em;
    }

    #card-detail-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #card-detail-button-text {
        margin-bottom: -0.5em;
        margin-top: 0.8em;
    }

    #media-descrip {
        position: absolute;
        top: 8px;
        left: 16px;
        padding: 1em;
    }
    
    #preview {
        position: absolute;
        bottom: 8px;
        right: 16px;
        padding: 1em;
    }
    
    #imdb-preview {
        position: absolute;
        bottom: 8px;
        left: 16px;
        padding: 1em;
    }

    #card-options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media only screen and (max-width: 576px) {
            justify-content: center;
        }
    }

}

#card-div {
    width: 100vw;
    height: auto;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    }

    #button-svg {
    size: 3em;
}

.card-container-friend{
    margin: 0 2em;

.media-title{
    font-family: "Gotham Book";
    text-align: center;
}

.media-title-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#media-img {
    width: auto;
    height: 60vh;
    @media only screen and (max-width: 576px) {
        width: auto;
        height: 60vh;
    }

}

}