#friends{
    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Bold";
        color: white;
        font-size: 30px;
        }
    }
    
    h3 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
        padding: 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    
    h4 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
        padding: 1em 0 0 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    h5 {
        font-family: "Gotham Book";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 24px;
        }
    }

    .friend-card  {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        padding: 0.5em 2em;
        @media only screen and (max-width: 576px) {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        }
    }

    #friend-pic  {
        @media only screen and (max-width: 576px) {
        width: 4em;
        height: 4em;
        object-fit: cover;
        object-position: center right;
        }
    }
}
 #friend-card{

    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Bold";
        color: white;
        font-size: 30px;
        }
    }
    
    h3 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
        padding: 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    
    h4 {
        font-family: "Gotham Book";
        color: white;
        font-size: 40px;
        padding: 0.5em 0 0 0;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    h5 {
        font-family: "Gotham Book";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 24px;
        }
    }

    .movie-column{
        display: flex;
        flex-flow: row wrap;
}
}