#friends{
    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Bold";
        color: white;
        font-size: 30px;
        }
    }
    
    h3 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
        padding: 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    
    h4 {
        font-family: "Gotham Book";
        color: white;
        font-size: 36px;
        padding: 1em 0 0 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    h5 {
        font-family: "Gotham Book";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 24px;
        }
    }

    .friend-card  {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        padding: 0.5em 2em;
        @media only screen and (max-width: 576px) {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        }
    }

    #friend-pic  {
        width: 8em;
        height: 8em;
        object-fit: cover;
        object-position: center right;
        @media only screen and (max-width: 576px) {
        width: 4em;
        height: 4em;
        object-fit: cover;
        object-position: center right;
        }
    }
}
 #friend-card{
     display: flex;
     flex-flow: column;
     margin: 0 5em;

     .center {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }

     .left-align {
         margin: 1em 0 0 4em;
     }
     
     .left-align-extra {
         margin: 1em 0 0 4em;
     }

     #profile-info{
         display: flex;
         flex-flow: row wrap;
         align-items: center;
     }

     #username{
         margin-left: 1em;
     }

    h2 {
        font-family: "Gotham Bold";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Bold";
        color: white;
        font-size: 30px;
        }
    }
    
    h3 {
        font-family: "Gotham Book";
        color: white;
        font-size: 48px;
        padding: 1em;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    
    h4 {
        font-family: "Gotham Book";
        color: white;
        font-size: 32px;
        padding: 0.5em 0 0 0;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 30px;
        }
    }
    h5 {
        font-family: "Gotham Book";
        color: white;
        font-size: 48px;
        @media only screen and (max-width: 576px) {
            font-family: "Gotham Book";
        color: white;
        font-size: 24px;
        }
    }

    .movie-column{
        display: flex;
        flex-flow: row wrap;
}
}