#navbar-container{

    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));

a {
    font-family: "Gotham Book";
    color: white;
    font-size: 28px;
}

#prof-pic{
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

#nav-brand{
    width: 5em;
    height: auto;
}

#nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 991px) {
        display: inline;
    }
}

}