@font-face{
  font-family: "Gotham Book";
  src: url("./fonts/gotham/GothamBook.ttf")
}

@font-face{
  font-family: "Gotham Bold";
  src: url("./fonts/gotham/Gotham\ Bold\ Regular.ttf")
}

@font-face{
  font-family: "Impact";
  src: url("./fonts/gotham/Impact.ttf")
}

body {
  background: radial-gradient(#222222, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
